


<% for item in @items %>  
   <tr style="border-top: 1px solid #ECECEC;">  
 
     <td width="10%">
     <% if !(item.picture_path.nil?)%>	
     	<img src=<%= item.picture_path %> width="75" height="75">
     <% else %>
     	<%= image_tag item.picture.url(:thumb), :width=>75, :height=>75 %>
     <% end %>
     </td>
     
     <td width="40%">
       
   
     <div id="item_title">
     <% if item.recommend == true%>
        <% if !item.name.nil? %>	
     	<%= link_to item.name, item.link %>
        <% else %>
        <%= link_to "Title", item.link %>
        <% end %>
       
        
     <% else %>
     	<%= link_to item.name, item %>
 	 <% end %>


     
<% if item.recommend==true %>
<span class="tag">Amazon</span>	
<% else %>
<span class="tag">Campus</span>
<% end %>


     </div>
     
     <div id="item_description">
   <div id="des_left">
   	<% if !item.isbn.nil? %>
		ISBN:<%= link_to item.isbn, "http://www.google.com/search?q=#{item.isbn}&tbs=shop%3A1&aq=f&oq=&aq=f" %>
	<% end %>
   <%= truncate(item.description, :length=>100) %>  
   </div>

     </div>
     
     
     </td>
   
     
     <td width="10%" class="bs"><% if item.bs %>
     	 <div style="color:#0066CC">Buy</div>
     	 <% else %>
     	 <div style="color:#508600">Sell</div>
     	 <% end %>
     </td>
     <td width="18%" class="bs">
   		<%= format_date(:short_no_year, item.created_at) %>
    </td>
 <% if item.secondprice.nil? %>
     <td width="25%" class="price"><%= number_to_currency(item.price, :unit => "$") %></td>  
     <% else %>
     <td width="25%" class="price"><%= number_to_currency(item.price, :unit => "$") %> ~ <%= number_to_currency(item.secondprice, :unit => "$") %></td>  
	<% end %>
   
   </tr>  
   
   <% end %>  
