
<% for item in @items %>  
   <tr style="border-bottom: 1px dotted #999999;">  
     <td width="20%" >
     <% if item.category_id==1 %>
     <div class="category_tag">
     <% elsif item.category_id==2 %>
     <div class="category_tag" style="background-color:#00C7BD">
	 <% elsif item.category_id==3 %>
     <div class="category_tag" style="background-color:#99D1E9">
	 <% elsif item.category_id==4 %>
     <div class="category_tag" style="background-color:#8FC700">
	 <% else %>
     <div class="category_tag" style="background-color:#99E9E5">
     <% end %>
     
     

     <p>
     <%= categorizable item.category_id %>
     </p>
     </div>
     </td>  
     
     
     <td width="40%">
     
     <div id="item_title">
     <%= link_to item.name, item %>
     </div>
     
     <div id="item_description">
   <div id="des_left">
   <%= truncate(item.description, :length=>100) %>  
   </div>
   <div id="des_right">
   (by <%= User.find(item.user_id).name %> <%= time_ago_in_words(item.created_at) %>
     	Ago) + <fb:comments-count href=<%= 'http://gmarket.heroku.com/items/'+item.id.to_s %></fb:comments-count> comments 
    </div>
     </div>
     
     
     </td>
     <% if item.secondprice.nil? %>
     <td width="20%" class="price"><%= number_to_currency(item.price, :unit => "$") %></td>  
     <% else %>
     <td width="20%" class="price"><%= number_to_currency(item.price, :unit => "$") %> ~ <%= number_to_currency(item.secondprice, :unit => "$") %></td>  
	<% end %>
     
     <td width="10%" class="bs"><% if item.bs %>
     	 Buy
     	 <% else %>
     	 Sell
     	 <% end %>
     </td>


   
   
   </tr>  
   
   <% end %>  