<%= form_for @item do |f| %>
<div class="new-selling-form new-selling-form-top">
<%= render "shared/error_messages", :target => @item %>  
     
	<div class="row top">

	<div class="side-left" style="color:#065C27">I want to sell</div>
    <%= f.text_field :name %>
	<div class="side-right" style="color:#065C27">for $</div>
    <%= f.text_field :price %>
</div> 
 
 <div class="row">
  <div class="side-left" style="color:#777777">
  <%= f.label :category %>
  </div>
  <div class="side-right" style="margin-left:60px;">
      <%= f.select :category_id, raw("<option value='1'>Textbook</option>
   <option value='2'>General Items</option>
   <option value='3'>Electronics</option>
   <option value='4'>Services</option>
   <option value='5'>Others</option>

   
   
   ") %>
  </div>
 <br>
 
 </div>

 <div class="row">

	<div class="side-left" style="color:#777777">
  <%= f.label :condition %>
  </div>
    <div class="side-right" style="margin-left:55px;">
   <%= f.select :condition, raw("<option value='0'>New</option><option value='1'>Like New</option><option value='2'>Used</option>") %>
  </div>
  <br>
  
   </div>

 <div class="row">
  <div class="side-left" style="color:#777777">
    <%= f.label :description %>
  </div>

  <div class="side-right" style="margin-left:40px;">

    <%= f.text_area :description, :style=>"margin-left:20px;width:400px;height:300px; overflow:auto;font-size:20px;"	%>
  </div>



 </div>
      
   
  </p>
  <%= f.hidden_field :bs %>
  <%= f.hidden_field :status %>
  <p><%= f.submit "Sell it", :class=>"button white"%></p>
<% end %>
