


<%= form_for @item, :html => { :multipart => true }  do |f| %>
<div class="new-selling-form new-selling-form-top" style="background: #EDFCE1;">
<%= render "shared/error_messages", :target => @item %>  
    
<div class="new-sell-head" style="background-color:#D8F5FF">     
	
	
		<div class="row top">

    <div class="side-left">I want to buy</div>
    	<%= f.text_field :name %>
	</div>
	
	<div class="row top">

    <div class="side-left">for $</div>
    	<%= f.text_field :price %>
    <div class="side-left" style="margin-left:0px;">to $(Optional)</div>
    	<%= f.text_field :secondprice %>
	</div>

	

	
</div> 
 
 

 <div class="row">
  <div class="side-left" style="color:#777777">
  <%= f.label :category %>
  </div>
  <div class="side-right" style="margin-left:60px;">
      <%= collection_select :item, :category_id, @categories, :id, :name, {:prompt => "Select One"},{:rel => "/items/subcategories_by_category"} %>
 
<%= collection_select :item, :subcategory_id, @subcategories, :id, :name, {:prompt => ""}%>
  
	
  </div>
 <br>
 
 </div>
 
  
 


 <div class="row">
  <div class="side-left" style="color:#777777">
    <%= f.label :description %>
  </div>

  <div class="side-right" style="margin-left:40px;">

    <%= f.text_area :description, :style=>"margin-left:20px;width:400px;height:300px; overflow:auto;font-size:20px;"	%>
  </div>



 </div>
      
   
  </p>
  <%= f.hidden_field :bs %>
  <%= f.hidden_field :status %>
  <p style="float:right"><%= f.submit "Sell it", :class=>"button white"%></p>

<% end %>
</div>

