<%= form_for @item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
    <%= f.hidden_field :bs %>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, raw("<option value='1'>Textbook</option><option value='2'>Food</option>") %>
  </p>
  <p><%= f.submit %></p>
<% end %>
