<%= form_for @item do |f| %>
<div class="new-selling-form new-selling-form-top">
<%= render "shared/error_messages", :target => @item %>  

	<div class="row top">

    <div class="side-left">I want to buy</div>
    	<%= f.text_field :name %>
    <div class="side-left">for $</div>
    	<%= f.text_field :price %>
    <div class="side-left">to</div>
    	<%= f.text_field :secondprice %>
	</div>

 <div class="row">
  <div class="side-left" style="color:#777777">
  <%= f.label :category %>
  </div>
  <div class="side-right" style="margin-left:60px;">
   <%= f.select :category_id, raw("<option value='1'>Textbook</option>
   <option value='2'>General Items</option>
   <option value='3'>Electronics</option>
   <option value='4'>Services</option>
   <option value='5'>Others</option>

   
   
   ") %>
  </div>
    
  <br>
 </div>

 <div class="row">
  <div class="side-left" style="color:#777777">
    <%= f.label :description %>
  </div>

  <div class="side-right" style="margin-left:40px;">
    <%= f.text_area :description, :style=>"margin-left:20px;width:400px;height:300px; overflow:auto;font-size:20px;"	%>
  </div>



 </div>
      
   
  </p>
  <%= f.hidden_field :bs %>
  <%= f.hidden_field :status %>
  <p style="float:right"><%= f.submit "Post it", :class=>"button white"%></p>
<% end %>
