<!DOCTYPE html>
<html>
<head>
  <title><%= render_title %></title>
	<%= render 'layouts/stylesheets' %>
<script src="http://connect.facebook.net/en_US/all.js#appId=154290874631361&amp;xfbml=1"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	         
 	 


    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20458547-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="header">
	<div id="holder">
	<!--[if lt IE 7]>
	<div id="warning">
		This website currently doesn't work well with IE
	</div>
<![endif]-->


<!--[if gte IE 8]>
<div id="warning">
		This website currently doesn't work well with IE
	</div>
<![endif]-->

	<div id="warning" style="color:#777777;float:left;margin-left:40px;padding-top:10px;">
		This site currently does not support IE browser.
	</div>
	
  	<div id="user_nav">
  	<div style="float:left;">
  	
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.thegmarket.me/" layout="button_count" show_faces="false" width="100" font="lucida grande"></fb:like>	
	</div>
  	
  <%= link_to "Home",'/', :class=>"nav_button" %>
     <% if current_user %>  
  <%= link_to "Contact", edit_user_path(current_user), :class=>"nav_button"%>
  <% end %>
   <% if current_user %>  
     Welcome, <%= current_user.name %>!  
     <%= link_to "Sign Out", signout_path %>  
   <% else %>

     <%= link_to "Sign in with Facebook", "/auth/facebook",:style=>"margin-left:10px;" %>  
   <% end %>  
   	  </div>
 	</div>
</div>  
  
	
	

 	<div class="constraint"> 


	
	<div id="in_between">
	
	
 	<div id="logo">
		  <%= link_to image_tag("logo.png", :border=>0),'/' %> 	
    </div>
    	
 		
 		  <div id="start_selling">
 	      <%= link_to "$Start Selling", '/new_sell' %>
 	      </div>
 		
 		    <div id="start_buying">
 	      <%= link_to "$Start Buying", '/new_buy' %>
 	      </div>
		
 
 	</div>


<div id="container">


    <% flash.each do |key, value| %>
		     <%= CGI::unescapeHTML(content_tag(:div, value, :class => "#{key}")) %>        
      		 <% end %> 

<%= yield %>


</div>




	</div>



</body>


</html>
